<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div {
    height: 10em;
    width: 20em;
    background-color: lightseagreen;
=======
div {
    height: 10em;
    width: 20em;
    background-color: blueviolet;
>>>>>>> f62828c58f8c7aa63780b7cc331471e7ab3b73fb
}
@keyframes disappear {
    50% {
        background-color: white;
    }
}
<<<<<<< HEAD
.disappear {
    animation-name: disappear;
    animation-duration: 2s;
    animation-fill-mode: both;
=======
.disappear{
    animation-name: disappear;
    animation-duration: 2s;
    animation-fill-mode: backwards;
>>>>>>> f62828c58f8c7aa63780b7cc331471e7ab3b73fb
}